<% if (page.total > 1){ %>
  <% if (theme.automatic_loading === true) { %>
    <a href="/post/2" class="load-more"><i class="iconfont icon-down"></i></a>
  <% } %>
  <nav class="paginator">
    <%- paginator({
      prev_text: __('Paginator.Prev'),
      next_text: __('Paginator.Next')
    }) %>
  </nav>
<% } %>