<div class="article-footer">
  <img src="<%- theme.basic.avatar %>" alt="Author avatar">
  <div class="article-footer-text">
    <p>
      <%- config.author %>
    </p>
    <p>
      <%- theme.license %>
    </p>
  </div>
</div>
