<% 
const categoriesList = list_categories({ 
  show_count: true,
  depth: 1,
  style: 'unordered list',
  separator: ' '
});
%>

<div id="mian-container">
  <div class="category-list">
    <%- categoriesList %>
  </div>
</div>