#article
    color: article-color
    line-height: 1.7em

    /*
     * Font Style
     */
    a
        color: main-color

    h1
        font-size: 2rem
        border-bottom: 1px solid hr-color
        padding-bottom: 0.3em
    
    h2
        font-size: 1.6rem
        border-bottom: 1px solid hr-color
        padding-bottom: 0.3em
    
    h3
        font-size: 1.4rem

    h4
        font-size: 1.2rem

    h5
        font-size: 1rem
    
    h6
        font-size: 0.8rem

    h1, h2, h3, h4, h5, h6
        // display: block
        line-height: 1.25;
        margin: 24px 0 16px 0
        font-weight: 600


    /*
     *  Code highlight Style
     */
    .highlight
        margin: 10px -40px
        padding: 0 40px
        overflow: auto
        background-color: code-bg-color

        .hljs, pre
            background: transparent !important
   
    img
        width: 100%

    code
        font-size: 90%

    ol
        padding: 20px

    hr
        border: none
        border-bottom: 1px solid hr-color

    p
        code
            background-color: code-color

