font-color = rgba(0, 0, 0, .25);
font-color-hover = rgba(0, 0, 0, .8);

/*
 * Post Colors
 */
title-font-color = rgb(255, 255, 255);
title-nt-font-color = rgb(0, 0, 0);
excerpt-font-color = rgb(80, 90, 110);
info-font-color = rgb(172, 179, 194);


mian-color = rgb(80, 90, 110);


card-bg-color = rgb(255, 255, 255);


background-color = rgb(248, 249, 250);


post-shadow = rgba(0, 0, 0, 0.05);


dark-background-color = rgb(0, 0, 0);