.flex-aic
  display flex
  align-items center

.flex-1
  display flex
  flex 1

.flex-jsb
  display flex
  justify-content: space-between

.link
  color: font-color-link
  text-decoration: none

  &:hover
    text-decoration: underline
