.flex-aic
  display flex
  align-items center

.flex-1
  display flex
  flex 1

.flex-jsb
  display flex
  justify-content: space-between

.btn
  color: font-color-text
  background-color: button-color-normal
  border-radius: border-radius-sm
  padding: 2px 10px
  border: none
  cursor: pointer

.btn:hover
  color: font-color-inverse
  background-color: button-color-hover
