footer
    text-align: center
    
    margin-top: 60px

    font-size: 15px
    color: info-font-color

    a
        color: info-font-color
        text-decoration: none
        &:hover
            text-decoration: underline


    .soical-icon
        margin: 20px 0

    p
        margin: 5px

    .iconfont
        font-size: 30px
        margin:0 10px

        &:hover
            color: main-color
            text-decoration: none