header
    height: 600px
    // display: flex
    // justify-content: center
    // align-items: center
    position: relative

    a
        text-decoration: none

    #site-branding
        padding-top: 150px
        text-align: center
        line-height: 0

        #site-title
            line-height: 50px
            font-size: 80px

        #site-description
            font-size: 20px

    #navBar
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-50%)
        height: 40px

        li
            display: inline-block