.posts
    width: 640px
    background: card-bg-color
    border-radius: 15px
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05)

    margin: 70px auto

    .post-thumbnail
        height: 200px
        border-radius: 15px 15px 0px 0px