.posts
  width: 640px
  background: background-content
  border-radius: border-radius-base
  box-shadow: 0px 20px 40px shadow-color
  transition: 0.15s ease-in-out
  margin: 80px auto
  overflow: hidden

  &:hover
    box-shadow: 0px 40px 60px rgba(0, 0, 0, 0.1)
    transform: translateY(-2px)

  .thumbnail
    height: 210px
    cursor: pointer
  
  .content
    margin: 12px 20px 20px

    .title
      color: font-color-title
      font-size: font-size-lg
      font-weight: 500
      line-height: font-size-lg
      margin: 0
      cursor: pointer
      margin-bottom: 15px

    .excerpt
      color: font-color-text
      font-weight: font-size-base
      text-align: justify
      line-height: 1.5
      margin-bottom: 12px

      p
        margin: 0

  .info
    display flex

    .avatar
      width: 28px
      height: 28px
      border-radius: border-radius-circle

    .label
      color: font-color-sub
      font-size: font-size-base
      line-height: 28px
      margin-left: 8px

      .category
        color: font-color-sub
        text-decoration: none

        &:hover
          color: font-color-link