@import 'normalize.css';
@import 'colors';
@import 'variable';
@import 'common';

/*
 * Header Style
 */
@import 'header';

/*
 * Index Styls
 */
@import 'index';
@import 'pages';

/*
 * Footer Styls
 */
@import 'footer';

/*
 * Post Style
 */
@import 'post';
@import 'article';

/*
 * Golbal Style
 */
body
  background-color: background-page
  font-family: helvetica neue,luxi sans,segoe ui,hiragino sans gb,microsoft yahei,sans-serif,apple logo

html, body
  scroll-behavior: smooth
  box-sizing: border-box

a
  color: font-color-link
  text-decoration: none

  &:hover
    text-decoration: underline
