@import 'normalize.css';
@import 'colors';
@import 'variable';
@import 'common';

/*
 * Header Style
 */
@import 'header';

/*
 * Index Styls
 */
@import 'index';
@import 'pages';

/*
 * Footer Styls
 */
@import 'footer';

/*
 * Post Style
 */
@import 'post';
@import 'article';

/*
 * Golbal Style
 */
ul
  margin: 0
  padding: 0

body
  background-color: background-page
  font-family: PingFang SC,Helvetica Neue,Helvetica,Hiragino Sans GB,Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",Arial,sans-serif

html, body
  scroll-behavior: smooth
  box-sizing: border-box
