* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f3f4f9;
  font-size: 1.25rem;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,PingFang SC,Hiragino Sans GB,Microsoft YaHei;
}

#main {
  width: 750px;
  margin: 50px auto;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: 0070FF;
  text-decoration: none;
}

hr {
  border: none;
  border-top:1px solid #ddd;
  color: gray;
  margin: 5px 0;
}

@import "_partial/header";
@import "_partial/post";