/*
 * Font Size
 */
font-size-mini = 11px;
font-size-sm = 12px;
font-size-base = 14px;
font-size-lg = 16px;
font-size-big = 18px;

/*
 * Border Radius
 */
border-radius-sm = 5px;
border-radius-base = 6px;
border-radius-lg = 20px;
border-radius-circle = 50%;

/*
 * Shadow
 */
shadow-base = 0px 1px 5px shadow-color;
shadow-lg = 0px 20px 40px shadow-color;
shadow-lg-hover = 0px 40px 60px shadow-color-hover;
