/*
 * Font Size
 */
font-size-mini = 11px;
font-size-sm = 12px;
font-size-base = 15px;
font-size-lg = 20px;
font-size-big = 18px;

/*
 * Border Radius
 */
border-radius-sm = 6px;
border-radius-base = 10px;
border-radius-lg = 20px;
border-radius-circle = 50%;

/*
 * Shadow
 */
shadow-base = 0px 1px 5px shadow-color;
shadow-lg = 0px 20px 40px shadow-color;
shadow-lg-hover = 0px 40px 60px shadow-color-hover;

/*
 * Transition
 */
transition-e = 0.15s ease
transition-eio = 0.15s ease-in-out
