<header>
    <div id="site-branding">
        <a href="<%- url_for() %>">
            <h1 class="site-title"><%= config.title %></h1>
            <p class="site-description"> <%= config.description %> </p>
        </a>
    </div>
    <%- partial('_partial/navigation') %>
</header>