<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <title><%= config.title %></title>
  <%- css('css/main.css') %>
  <!-- <%- css('css/normalize.css') %> -->
  <link rel="stylesheet" href="//at.alicdn.com/t/font_1698634_zob345go5cb.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script> -->
  <script src="//unpkg.com/valine/dist/Valine.min.js"></script>
  <script src="/js/escape.js"></script>
</head>