<nav id="navBar">
    <ul>
        <% for (name in theme.menu) { %>
            <li>
                <a href="<%- url_for(theme.menu[name]) %>" class="menu-item-link"><%- name %></a>
            </li>
        <% } %>
    </ul>
    <%- partial('_plugin/common/search') %>
</nav>
