<div id="post-paginator">
    <div class="paginator-item">
        <svg width="15" height="25" viewBox="0 0 15 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.983 0.00141602C12.6007 0.00141602 12.22 0.14751 11.9263 0.436548L0.986444 11.3764C0.705838 11.6555 0.54807 12.035 0.54807 12.4307C0.54807 12.8265 0.705838 13.206 0.986444 13.4851L11.9263 24.4281C12.3014 24.8139 12.8552 24.9679 13.3756 24.8309C13.896 24.694 14.3023 24.2873 14.4389 23.7668C14.5755 23.2463 14.4211 22.6926 14.035 22.3178L4.15182 12.4346L14.035 2.54993C14.4621 2.12341 14.5904 1.48171 14.3602 0.92372C14.13 0.365731 13.5866 0.00118496 12.983 -0.00012207L12.983 0.00141602Z" fill="black" fill-opacity="0.25"/>
        </svg>
        上一页
    </div>
    <div class="paginator-item">
        下一页
        <svg width="14" height="25" viewBox="0 0 14 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.51705 24.9986C1.89932 24.9986 2.28004 24.8525 2.57374 24.5635L13.5136 13.6236C13.7942 13.3445 13.9519 12.965 13.9519 12.5693C13.9519 12.1735 13.7942 11.794 13.5136 11.5149L2.57371 0.571924C2.19862 0.186068 1.64478 0.0321312 1.12438 0.169085C0.603968 0.306038 0.197653 0.712654 0.0610841 1.23316C-0.0754847 1.75367 0.0788618 2.30739 0.464996 2.6822L10.3482 12.5654L0.465021 22.4501C0.0379119 22.8766 -0.0904363 23.5183 0.139757 24.0763C0.369951 24.6343 0.913417 24.9988 1.51702 25.0001L1.51705 24.9986Z" fill="black" fill-opacity="0.25"/>
        </svg>
    </div>
</div>