header 
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url(https://img.perdel.cn/escape-banner2.png);
  background-size: cover;
  background-position: 0% 50%;

  font-size: 20px;
  
  a 
    color: white;
  

  #site-branding 
    max-width: 100%;
    cursor: pointer;
    text-align: center;
    margin-bottom: 8em;

    .site-title 
      text-shadow: 1px 1px 0 green, -1px -1px 0 red;
      font-size: 80px;
      &:hover 
        text-shadow: 2px 2px 0 red, -2px -2px 0 green;

    .site-description 
      font-size: 20px;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
      
  #navBar
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));

    .menu-item 
      display: inline-block;
      width: 100px;
      line-height: 40px;
      text-align: center;
      text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
      &:hover
        text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5); 