.page-nav
  text-align center
  a
    color: font-color


// Post Paginator Style

#post-paginator
  display flex
  width 640px
  margin 0 auto
  justify-content space-between
  color font-color

  margin-top -50px

  .paginator-item
    display flex
    align-items center
    justify-content space-between
    width 70px
    font-size 15px
    &:hover
      cursor pointer
      color font-color-hover
      transform translate(-10px, 0)

  .paginator-item:last-child
    &:hover
      transform translate(10px, 0)