<div id="post-paginator">
    <div class="paginator-item">
        <i class="iconfont icon-left"></i>
        <span>上一页</span>
    </div>
    <div class="paginator-item">
        <span>下一页</span>
        <i class="iconfont icon-right"></i>
    </div>
</div>